.card {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  border: 1px solid #1f93ff;
  margin-bottom: 5px;
}
h3 {
  font-weight: 300;
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    color: #4267b2;
    font-weight: 500;
  }
}
